.container {
  display: flex;
  margin: 3rem;
  flex-wrap: wrap;
  color: #0f1d28;
}

.user {
  padding: 1rem;
  display: flex;
  width: 36%;
  height: 100%;
  flex-wrap: wrap;
  border: 1px solid #ad9db8;
  border-radius: 1rem;
  min-width: 300px;
}

img {
  width: 12rem;
  height: 12rem;
  padding: 2rem;
}

.user-details {
  /* border: 1px solid red; */
  /* width: 35rem; */
  /* margin-right: 1rem; */
  display: flex;
  flex-direction: column;
  padding-top: 0.2rem;
}

.orders {
  padding: 1rem;
  margin-left: 1rem;
  width: 57%;
  border: 1px solid #ad9db8;
  border-radius: 1rem;
  min-width: 740px;
}

.order {
  /* border-top: 1px solid #0f1d28; */
  /* padding: 1rem 0 1rem 0; */
}

.order div {
  margin: 1rem;
  padding: 1rem;
}

.summary > div {
  /* display: flex; */
  margin: 1rem 4rem 1rem 0.3rem;
}

.summary span {
  font-size: 1.2rem;
}

.summary h3 {
  padding: 0 1rem 0.4rem 0rem;
  /* flex-basis: 5rem; */
}

/* div strong {

} */

.order-click{
  border: 1px solid #ad9db8;
  border-radius: 0.2rem;
  display: flex;
}

.order-click:hover {
  cursor: pointer;
  background-color: #f4f0f7;
}
