<div class="container">
  <div class="user">
    <div class="icon">
      <img
        src="https://drive.google.com/uc?export=view&id=1RgrdPHldMyta0ZzCahquDv_YtR5Sy1lZ"
        alt="user-logo"
      />
    </div>
    <div class="user-details">
      <app-title title="User Profile" fontSize="1.6rem" />
      <div class="summary">
        <div>
          <h3>Name:</h3>
          <span>{{ user.name }}</span>
        </div>
        <div>
          <h3>Email:</h3>
          <span>{{ user.email }}</span>
        </div>
        <div>
          <h3>Address:</h3>
          <span>{{ user.address }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="orders">
    <app-title title="User Orders" fontSize="1.6rem" />
    <div class="order" *ngFor="let order of orders">
      <div><strong>Date:</strong> {{ order.createdAt | date : "medium" }}</div>
      <div><strong>Name:</strong> {{ order.name }}</div>
      <div><strong>Address:</strong> {{ order.address }}</div>
      <div><strong>Status:</strong> {{ order.status }}</div>
      <div *ngIf="order.paymentId">
        <strong>Payment ID:</strong> {{ order.paymentId }}
      </div>
    </div>
  </div>
</div>
