<div class="container">
  <img
    src="https://drive.google.com/uc?export=view&id=1EBWiCcBKCw-arlosi6nhC2ahKNAd2e4v"
    alt=""
  />
  <h1>Follow Taylor</h1>
  <ul>
    <li>
      <a target="_blank" href="https://www.facebook.com/TaylorSwift"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/taylorswift/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://taylorswift.tumblr.com/"
        ><i class="fa-brands fa-square-tumblr"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/taylorswift13"
        ><i class="fa-brands fa-square-twitter"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://www.youtube.com/taylorswift"
        ><i class="fa-brands fa-square-youtube"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://www.snapchat.com/add/taylorswift"
        ><i class="fa-brands fa-square-snapchat"></i
      ></a>
    </li>
  </ul>
  <h2>
    Depiction of this product is a digital rendering and for illustrative
    purposes only. <br />Actual product detailing may vary. <br />
    Ships on or about October 27, 2023 <br />
    © 2023 Taylor Swift <br />
    Taylor Swift® <br />
    Used By Permission. <br />
    All Rights Reserved.
  </h2>
</div>
