<header>
  <div class="container">
    <a routerLink="/" class="logo">TStore</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/">Merch</a>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/register">Register</a>
        </li>
        <li *ngIf="isAuth">
          <a routerLink="/profile/{{user.id}}">Profile</a>
        </li>
        <li *ngIf="isAuth">
          <a (click)="logout()">Logout</a>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
        <li>
          <a routerLink="/about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
