<header>
  <div class="container">
    <a routerLink="/" class="logo">TStore</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
        <li class="merch-container">
          <a routerLink="/dashboard">Nick</a>
          <div class="merch">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page"> Cart <span>5</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
