div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  
  input{
    border-radius: 1rem 0 0 1rem;
    border: none;
    width: 20rem;
    padding-left: 1em;
    background-color: #f1f1f1;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
  }
  
  div button{
    color: grey;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 1rem 1rem 0;
    border: none;
    background-color: #ad9db8;
    color: white;
    opacity: 0.8;
    outline: none;
  }
  
  div button:hover{
    opacity: 1;
    cursor: pointer;
  }